{% extends 'association/base_association.html' %}

{% block page_sub_title %}
  Vue générale
{% endblock %}

{% block quick_actions %}
<a href="{% url 'association-update' association.id %}" class="btn btn-primary"><i class="fa fa-pencil"></i> Modifier les informations</a>
{% endblock %}

{% block content_association %}
  <b>Nom de l'association</b>
  <div class="well well-sm">{{ object.name }}</div>

  <div class="row">
    <div class="col-md-6">
      <b>Catégorie d'association</b>
      <div class="well well-sm">{{ object.category.name }}</div>
    </div>
    <div class="col-md-6">
      <b>Acronyme</b>
      <div class="well well-sm">
        {% if object.acronym %}
          {{ object.acronym }}
        {% else %}
          <i>Non défini</i>
        {% endif %}
      </div>
    </div>
  </div>

  <b>Description courte</b>
  <div class="well well-sm">{{ object.description }}</div>

  <p><small><i>Dernière modification : {{ object.updated_at|date:'DATETIME_FORMAT' }}</i></small></p>

{% endblock %}