{% extends 'association/base_association.html' %}

{% block page_sub_title %}
    Vue générale
{% endblock %}

{% block quick_actions %}
    <a href="{% url 'association-update' association.id %}" class="btn btn-primary"><i class="fa fa-pencil"></i>
        Modifier les informations</a>
{% endblock %}

{% block content_association %}
    <div class="row mb-3">
        <div class="col-md-12">
            <b>Nom de l'association</b>
            <div class="card bg-light">
                <div class="card-body">{{ object.name }}</div>
            </div>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-md-4">
            <b>Catégorie d'association</b>
            <div class="card bg-light">
                <div class="card-body">{{ object.category.name }}</div>
            </div>
        </div>
        <div class="col-md-4">
            <b>Acronyme</b>
            <div class="card bg-light">
                <div class="card-body">
                    {% if object.acronym %}
                        {{ object.acronym }}
                    {% else %}
                        <i>Non défini</i>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <b>Nombre de membres actifs</b>
            <div class="card bg-light">
                <div class="card-body">{{ object.active_members_number }}</div>
            </div>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-md-12">
            <b>Description courte</b>
            <div class="card bg-light">
                <div class="card-body">{{ object.description }}</div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <b>Logo</b>
            <div class="card bg-light">
                <div class="card-body">{{ object.logo_url }}</div>
            </div>
        </div>
    </div>
    <p>
        <small><i>Dernière modification : {{ object.updated_at|date:'DATETIME_FORMAT' }}</i></small>
    </p>

{% endblock %}