{% extends 'base.html' %}

{% block page_title %}
    Annuaire des associations
{% endblock %}

{% block content %}
    <div class="row">
    <table id="prettyTable" class="table table-bordered table-responsive datatables" data-page-length="20">
        <thead>
        <tr>
            <th>Nom de l'association</th>
            <th>Nom du président</th>
            <th>Email de contact</th>
            <th>Fin du mandat</th>
        </tr>
        </thead>
        <tbody>
        {% for association in object_list %}
            {% with mandate=association.mandates.last %}
                <tr>
                    <td>{{ association.name }}</td>
                    <td>{{ mandate.peoples.first }}</td>
                    <td>
                        <a href="mailto:{{ association.directory_entries.last.contact_address }}">
                            {{ association.directory_entries.last.contact_address }}
                        </a>
                    </td>
                    <td>{{ mandate.ends_at|date:'DATE_FORMAT' }}</td>
                </tr>
            {% endwith %}
        {% endfor %}

        </tbody>
    </table>
    </div>
{% endblock %}