{% extends 'association/base_association.html' %}

{% load crispy_forms_tags %}

{% block page_sub_title %}
  Nouveau mandat
{% endblock %}

{% block quick_actions %}
  <a href="{% url 'association-mandate-list' association.id %}" class="btn btn-default"><i class="fa fa-times"></i> Annuler</a>
  <button form="mandateForm" type="submit" class="btn btn-success"><i class="fa fa-save"></i> Enregistrer</button>
{% endblock %}

{% block content_association %}
  <div class="alert alert-info">
    Attention : une fois ce mandat créé, il ne sera plus possible de modifier les anciens.
  </div>
  {% crispy form %}
{% endblock %}