# Explicit dependencies (references in code)
Django==1.10.3
python-social-auth==0.2.21
django-bootstrap-form==3.2.1
django-crispy-forms==1.6.1
gunicorn==19.6.0
psycopg2==2.6.2
python-magic==0.4.12
gitpython==2.1.0
django-anymail==0.6.1
premailer==3.0.1
djangorestframework==3.5.2