{% extends "base.html" %}

{% load l10n %}

{% block page_title %}
    Bot'INSA
{% endblock %}
{% block page_sub_title %}
    Liste des associations
{% endblock %}

{% block content %}
    <div class="card-columns">
        {% for asso in associations %}
            <div class="card">
                {% if asso.logo_url %}<img class="card-img-top" src="{{ asso.logo_url }}" alt="Logo">{% endif %}
                <div class="card-body">
                    <h4 class="card-title">
                        {{ asso.name }}
                        {% if asso.acronym %}
                            <small class="text-muted">({{ asso.acronym }})</small>
                        {% endif %}
                    </h4>
                    <p class="card-text">{{ asso.description|linebreaksbr }}</p>
                    <button type="button" class="btn btn-primary" data-toggle="modal"
                            data-target="#assoDetails{{ asso.id }}">
                        Plus d'infos
                    </button>
                    {% if user.is_superuser %}
                        <a href="{% url 'association-detail' asso.id %}" class="btn btn-secondary">
                            Admin
                        </a>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>

    <!-- Modal -->
    {% for asso in associations %}
        <div class="modal fade" id="assoDetails{{ asso.id }}" tabindex="-1" role="dialog"
             aria-labelledby="assoDetailsLabel{{ asso.id }}"
             aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="assoDetailsLabel{{ asso.id }}">
                            {{ asso.name }}
                            {% if asso.acronym %}
                                <small class="text-muted">({{ asso.acronym }})</small>
                            {% endif %}
                        </h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-12">
                                <h5>Description</h5>

                                {% if asso.logo_url %}
                                    <img src="{{ asso.logo_url }}" alt="Logo" class="float-right">
                                {% endif %}

                                <p>
                                    {% if asso.current_directory_entry.description %}
                                        {{ asso.current_directory_entry.description|linebreaksbr }}
                                    {% else %}
                                        <em>Non défini</em>
                                    {% endif %}
                                </p>
                            </div>
                        </div>


                        <div class="row">
                            <div class="col-md-6">
                                <h5>Lieu</h5>
                                <p>
                                    <i class="fa fa-fw fa-location-arrow"></i>
                                    {% if asso.current_directory_entry.place %}
                                        {% with place=asso.current_directory_entry.place %}
                                            <a href="http://www.google.com/maps/place/{{ place.lat|unlocalize }},{{ place.long|unlocalize }}">
                                                {{ place.name }}
                                            </a>
                                        {% endwith %}
                                    {% else %}
                                        <em>Non défini</em>
                                    {% endif %}
                                </p>
                            </div>

                            <div class="col-md-6">
                                <h5>Site web</h5>
                                <p>
                                    <i class="fa fa-fw fa-external-link"></i>
                                    {% if asso.current_directory_entry.website_url %}
                                        <a href="{{ asso.current_directory_entry.website_url }}">
                                            {{ asso.current_directory_entry.website_url }}
                                        </a>
                                    {% else %}
                                        <em>Non défini</em>
                                    {% endif %}
                                </p>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <h5>Contact</h5>
                                <p>
                                    <i class="fa fa-fw fa-envelope-o"></i>
                                    {% if asso.current_directory_entry.contact_address %}
                                        <a href="mailto:{{ asso.current_directory_entry.contact_address }}">
                                            {{ asso.current_directory_entry.contact_address }}
                                        </a>
                                    {% else %}
                                        <em>Non défini</em>
                                    {% endif %}<br>

                                    <i class="fa fa-fw fa-phone"></i>
                                    {% if asso.current_directory_entry.phone %}
                                        <a href="tel:{{ asso.current_directory_entry.phone }}">
                                            {{ asso.current_directory_entry.phone }}
                                        </a>
                                    {% else %}
                                        <em>Non défini</em>
                                    {% endif %}
                                </p>

                            </div>

                            <div class="col-md-6">
                                <h5>Réseaux sociaux</h5>
                                <p>
                                    <i class="fa fa-fw fa-facebook-f"></i>
                                    {% if asso.current_directory_entry.facebook_url %}
                                        <a href="{{ asso.current_directory_entry.facebook_url }}">
                                            Facebook
                                        </a>
                                    {% else %}
                                        <em>Non défini</em>
                                    {% endif %}
                                    <br>

                                    <i class="fa fa-fw fa-twitter"></i>
                                    {% if asso.current_directory_entry.twitter_url %}
                                        <a href="{{ asso.current_directory_entry.twitter_url }}">
                                            Twitter
                                        </a>
                                    {% else %}
                                        <em>Non défini</em>
                                    {% endif %}
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        {% if user.is_superuser %}
                            <a href="{% url 'association-detail' asso.id %}" class="btn btn-light">
                                Admin
                            </a>
                        {% endif %}
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}

{% endblock %}