{% extends "base.html" %}

{% block page_title %}
    Bot'INSA
{% endblock %}
{% block page_sub_title %}
    Liste des associations
{% endblock %}

{% block content %}
    <div class="card-columns">
        {% for asso in associations %}
            <div class="card">
                <img class="card-img-top" src="https://portail.asso-insa-lyon.fr/file/12/" alt="...">
                <div class="card-body">
                    <h4 class="card-title">
                        {{ asso.name }}
                        {% if asso.acronym %}<small>{{ asso.acronym }}</small>{% endif %}
                    </h4>
                    <p class="card-text">{{ asso.description }}</p>
                    <a href="#" class="btn btn-primary" role="button">En savoir plus...</a>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}