{% extends 'association/base_association.html' %}

{% load requirement_extras %}

{% block page_sub_title %}
  Situation administrative
{% endblock %}

{% block content_association %}
<table class="table table-hover">
  <tbody>
    {% for requirement in object_list %}
      <tr class="table-{% if requirement|is_achieved:association.id %}success{% else %}danger{% endif %} text-{% if requirement|is_achieved:association.id %}success{% else %}danger{% endif %}">
        <td>
          <i class="fa {% if requirement|is_achieved:association.id %}fa-check{% else %}fa-times{% endif %}"></i>
          {{ requirement.name }}
          {% if requirement.help_text|length > 0 %}
          <a data-toggle="tooltip" data-placement="right" title="{{ requirement.help_text }}"><i class="fa fa-question-circle"></i></a>
          {% endif %}
        </td>
        {% if perms.association.can_achieve_requirement %}
          <td class="text-right">
            {% if requirement.type == 'accomplishment' %}
              {% if not requirement|is_achieved:association.id %}
                <form action="{% url 'association-requirement-achieve' association.id requirement.id %}" method="post">
                  {% csrf_token %}
                  <button type="submit" class="btn btn-sm btn-success"><i class="fa fa-check"></i> Valider</button>
                </form>
              {% else %}
                <form action="{% url 'association-requirement-achieve' association.id requirement.id %}" method="post">
                  {% csrf_token %}
                  <button type="submit" class="btn btn-sm btn-danger"><i class="fa fa-times"></i> Invalider</button>
                </form>
              {% endif %}
            {% endif %}
          </td>
        {% endif %}
      </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}