{% extends 'association/base_association.html' %}

{% load humanize %}

{% block page_sub_title %}
  Détail d'un article
{% endblock %}

{% block quick_actions %}
  {% if can_delete %}
    <a href="{% url 'association-article-delete' association.id object.id %}" class="btn btn-danger"><i class="fa fa-trash"></i> Supprimer</a>
  {% endif %}
  {% if can_update %}
    <a href="{% url 'association-article-update' association.id object.id %}" class="btn btn-primary"><i class="fa fa-pencil"></i> Mettre à jour</a>
  {% endif %}
{% endblock %}

{% block content_association %}
  {% if not object.validated %}
    <div class="alert alert-danger" role="alert">
      Cet article n'a pas encore été validé. Il n'est donc pas en ligne.
    </div>
  {% else %}
    <div class="alert alert-success" role="alert">
      Cet événement est validé et en ligne. Vous ne pouvez pas le modifier.
    </div>
  {% endif %}

  <b>Titre</b>
  <div class="well well-sm">{{ object.title }}</div>

  <b>Contenu</b>
  <div class="well well-sm">{{ object.content|linebreaksbr }}</div>

  <p><small><i>Dernière modification : {{ object.updated_at|date:'DATETIME_FORMAT' }}</i></small></p>
{% endblock %}