{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block page_sub_title %}
    Exportation de données
{% endblock %}

{% block content %}
    <p class="text-info">Cette page vous permet d'exporter les données liés aux associations vers des fichiers
        Excel.</p>
    <div class="row text-center">
        <form method="post">{% csrf_token %}
            <div class="col-md-12">
                <h4>Séléctionner les associations :</h4>
                <div class="btn-group" data-toggle="buttons">
                    <label class="btn btn-primary active">
                        <input type="radio" name="filter" value="ALL" id="option1" autocomplete="off" checked> Toutes
                    </label>
                    <label class="btn btn-primary">
                        <input type="radio" name="filter" value="ACTIVE" id="option2" autocomplete="off"> Actives
                    </label>
                    <label class="btn btn-primary">
                        <input type="radio" name="filter" value="DEAD" id="option3" autocomplete="off"> Mortes
                    </label>
                </div>
            </div>
            <div class="col-md-12">
                <h4>Données à exporter :</h4>
                <div class="btn-group" data-toggle="buttons">
                    <label class="btn btn-primary active">
                        <input type="checkbox" name="data" value="BASIC" autocomplete="off" checked> Informations Basiques
                    </label>
                    <label class="btn btn-primary">
                        <input type="checkbox" name="data" value="VALIDATIONS" autocomplete="off"> Validations
                    </label>
                    <label class="btn btn-primary">
                        <input type="checkbox" name="data" value="PRESIDENT" autocomplete="off"> Contact président
                    </label>
                </div>
            </div>
            <div class="col-md-2 col-md-offset-5" style="margin-top: 2em;">
                <button type="submit" class="btn btn-success btn-block btn-lg">Télécharger</button>
            </div>
        </form>
    </div>
{% endblock %}