{% extends 'association/base_association.html' %}

{% block page_sub_title %}
    Fichiers
    {% if current_folder %}
        : {{ current_folder.name }}
    {% endif %}
{% endblock %}

{% block quick_actions %}
    {% if current_folder.is_writable and current_folder.id %}
        <a href="{% url 'association-file-upload' association.id current_folder.id %}" class="btn btn-primary"><i
                class="fa fa-upload"></i> Uploader un document</a>
    {% endif %}
{% endblock %}

{% block content_association %}
    <table class="table table-stripped table-hover">
        {% if current_folder %}
            {% if current_folder.parent %}
                <tr>
                    <td><i class="fa fa-folder"></i> <a
                            href="{% url 'association-file-tree' association.id current_folder.parent.id %}">..</a></td>
                </tr>
            {% else %}
                <tr>
                    <td><i class="fa fa-folder"></i> <a href="{% url 'association-file-tree' association.id %}">..</a>
                    </td>
                </tr>
            {% endif %}
        {% else %}
            {% if is_root %}
                <tr>
                    <td><i class="fa fa-folder"></i> <a
                            href="{% url 'resource-file-tree' association.id %}">Ressources</a></td>
                </tr>
            {% endif %}
        {% endif %}

        {% for folder in folders %}
            <tr>
                <td><i class="fa fa-folder"></i> <a
                        href="{% url 'association-file-tree' association.id folder.id %}">{{ folder.name }}</a></td>
            </tr>
        {% endfor %}
        {% for file in files %}
            <tr>
                <td><i class="fa fa-file"></i> <a href="{% url 'file-view' file.id %}">{{ file.name }}</a></td>
                {% if folder.id %}
                    <td class="text-right"><a href="{% url 'association-file-delete' association.id file.id %}"
                                              data-toggle="tooltip" title="Supprimer le fichier"><i
                            class="fa fa-times"></i></a></td>
                {% endif %}
            </tr>
            {% empty %}
            {% if current_folder.is_writable %}
                <tr>
                    <td><i>Aucun fichier dans ce répertoire</i></td>
                </tr>
            {% endif %}
        {% endfor %}
    </table>
{% endblock %}