{% extends 'mail/base.html' %}

{% block content_html %}
<meta itemprop="name" content="Confirm Email"/>
<table width="100%" cellpadding="0" cellspacing="0">
  <tr>
    <td class="content-block">
      Vous recevez cet email car vous avez oublié votre mot de passe {{ app.site.name }}.
    </td>
  </tr>
  <tr>
    <td class="content-block">
      Cliquez sur le lien ci-dessous pour le redéfinir.
    </td>
  </tr>
  <tr>
    <td class="content-block" itemprop="handler" itemscope itemtype="http://schema.org/HttpActionHandler">
      <a href="{{ reset_url }}" class="btn-primary" itemprop="url">Réinitialiser mon mot de passe</a>
    </td>
  </tr>
  <tr>
    <td class="content-block">
      &mdash; L'équipe {{ app.site.name }}
    </td>
  </tr>
</table>

{% endblock %}