{% extends 'base.html' %}

{% block page_title %}
    Liste des fichiers
{% endblock %}

{% block content %}
    <div class="row">
        <table id="prettyTable" class="table table-bordered table-stripped">
            <thead>
            <tr>
                <th>Nom</th>
                <th>Type</th>
                <th data-orderable="false">Action</th>
            </tr>
            </thead>
            <tbody>
            {% for file in object_list %}
                <tr>
                    <td><a href="{% url 'file-view' file.id %}">{{ file.name }}</a></td>
                    <td>-</td>
                    <td>-</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}