/* main.scss */
@import "theme/variables";
@import "bootstrap";
@import "theme/bootswatch";
@import "font-awesome";

html {
  position: relative;
  min-height: 100%;
}

/* Fixed top navbar */
body {
    padding-top: 70px;
    margin-bottom: 40px;
}
.brand-colored {
  color: $app-color-light;
}

/* Fixed footer */
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 40px;
  background-color: $brand-primary;

  a {
    color: $app-color-light;
  }
}

.container .text-muted {
  margin: 13px 0 0;
  font-size: 12px;

  .brand {
    color: #fff;
  }
  .version a {
    color: $gray-light;
    text-decoration: underline;
  }
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

/* Icons */
i.fa {
  padding-right: 5px;
}

.tab-content {
  padding-top: 20px;
}