{% extends 'association/base_association.html' %}

{% block page_sub_title %}
  Publier un événement
{% endblock %}

{% block quick_actions %}
  <a href="{% url 'association-event-detail' association.id event.id %}" class="btn btn-default"><i class="fa fa-times"></i> Annuler</a>
{% endblock %}

{% block content_association %}
  <div class="row">
    <div class="col-xs-12">
      <div class="alert alert-success" role="alert">
        Êtes-vous sûr de vouloir publier l'événement {{ event.name }} ?
      </div>
      <form action="" method="post">
        {% csrf_token %}
        <p class="text-center">
          <input class="btn btn-default" type="submit" value="Confirmer la publication" />
        </p>
      </form>
    </div>
  </div>
{% endblock %}